/var/log/nodejs/*.log {
    rotate {{ nodejs_logrotate_rotate }}
    daily
    missingok
    notifempty
    compress
    delaycompress
    create 0640 {{ nodejs_user }} {{ nodejs_group }}
    postrotate
      /usr/local/bin/pm2 reloadLogs
    endscript
}
